.header {
  background: #000;
  color: #fff;

  min-height: 70px;
  border-bottom: #555 3px solid;
  position: relative;
  z-index: 2;

  .burger_menu {
    display: none; // Скрыть по умолчанию

    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;

    &:hover .burger_menu__line {
      background-color: #555;
    }

    &__line {
      width: 25px;
      height: 3px;
      background: #fff;
      margin: 5px 0;
      transition:
        transform 0.3s,
        background 0.3s;
    }

    @media (max-width: 768px) {
      display: block; // Показать бургер-меню на мобильных устройствах
    }
  }
}

.header__content {
  padding: 30px 0;
}

.content_header {
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.info_header {
  &__logo {
    width: 15%;
    height: 15%;
  }

  &__title {
    text-align: center;
  }

  &__descr {
    text-align: center;
  }
}

.nav_header {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav_header {
    display: none; // Скрыть навигационное меню по умолчанию
    &__list {
      flex-direction: column;
    }
  }
  .nav_header_open {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    animation: slideDown 0.3s ease forwards;
  }
}

.open .line1 {
  opacity: 0;
}

.open .line2 {
  position: absolute;
  bottom: 0;
  transform: rotate(120deg);
  background-color: #555;
}

.open .line3 {
  transform: rotate(-120deg);
  background-color: #555;
}
