.footer {
  background: #000;
}

.footer {
  // .{classes.footer__content}

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
  }

  // .{classes.footer__text}

  &__text {
    text-align: center;
    color: #fff;
  }
}
